

.client-profile-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 79%;
    margin-top: 40px;
    padding: 0;
    box-sizing: border-box;
    border-left: 1px solid black;
    
}
.client-profile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 679px;
    padding-top: 0;
}
.client-profile > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}
.client-profile > li{
    position: absolute;
    width: 70px;
    height: 34px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
}
.profile-tabs > .active{
    width: 80px;
    height: 24px;
    text-align: center;
    border-bottom: 4px solid rgba(255, 2, 2, 1);
}
.profile-image-and-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.profile-image-and-name > img{
    width: 297px;
    height: 297px;
    border-radius: 50%;
}
.profile-image-and-name > .status{
    position: absolute;
    width: 29px;
    height: 29px; 
    border-radius: 50%; 
    background: #20BE7C;  
    top: 40px;
    left: 440px;
   
}
.profile-image-and-name > .name{
    text-transform: uppercase;   
}
/* client details section*/

.information-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
}
.information-section > section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}
section > .icon-and-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 672px;
    height: 36px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.icon-and-title > h5{
    width: 150px;
    height: 25px;
    margin-left: 10px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    
}
section > .name-and-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

@media only screen and (max-width: 1000px) {
    .client-profile-container {
        width: 70%;
    }
    .client-profile {
        width: 500px;
    }
    .profile-image-and-name > img{
        width: 197px;
        height: 197px;
        border-radius: 50%;
    }
    .profile-image-and-name > .status{
        position: absolute;
        width: 29px;
        height: 29px; 
        top: 30px;
        left: 320px;
       
    }
    section > .icon-and-title{
        width: 500px;
        height: 36px;
    }
    
  }
  @media only screen and (max-width: 740px) {
    .client-profile-container {
        width: 100%;
        margin: 5px;
    }  
    .client-profile {
        width: 300px;
    }
    section > .icon-and-title{
        width: 300px;
    }
    .profile-image-and-name > .status{
        position: absolute;
        width: 29px;
        height: 29px; 
        top: 30px;
        left: 320px;
       
    }
    
  }
  @media only screen and (max-width: 600px) {
 
    .client-profile {
        width: 300px;
        margin: 5px;
    }
    section > .icon-and-title{
        width: 300px;
    }
    .profile-image-and-name > .status{
        position: absolute;
        width: 29px;
        height: 29px; 
        top: 30px;
        left: 320px;
       
    }
    
  }

  @media only screen and (max-width: 350px) {
    .client-profile {
        width: 200px;
    }
    section > .icon-and-title{
        width: 300px;
    }
    .profile-image-and-name > .status{
        position: absolute;
        width: 29px;
        height: 29px; 
        top: 30px;
        left: 320px;
       
    }
    

  }


